/**/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets background color to white*/
body {
    background-color: #d9dcd6;
}

/*Header Color(white) for 'Horiseon'*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Font for 'Hori' in 'Horiseon'*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Grey Color for 'seo' in Horiseon*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Font for <li> code*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*No Difference in Style*/
.header div ul {
    list-style-type: none;
}

/*Organize Header List from Left to Right*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
} 

/*Font for listed script in top right of page*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Font size for <p> */
p {
    font-size: 16px;
}

/*Main Image on page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Image is placed on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Image is placed on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Boxes that contain <li> should take up 75% of width*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

/*Box that contains Company Benefits on Right side of page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Defines white color for 'Lead Generation' and paragraph*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
} 

/*Defines white color for 'Brand Awareness' and paragraph*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
} 

/*Defines white color for 'Cost Management' and paragraph*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Centers 'Lead Generation' Text*/
.benefit-lead h2 {
    margin-bottom: 10px;
    text-align: center;
} 

/*Centers 'Brand Awareness' Text*/
.benefit-brand h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*Centers 'Cost Management' Text*/
.benefit-cost h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*Defines size and display of image under 'Lead Generation'*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 

/*Defines size and display of image under 'Brand Awareness'*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Defines size and display of image under 'Cost Management'*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Blue box for 'Search Engine Optimization' header,paragraph, and img*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} 

/*Blue box for 'Online Reputation Management' header, paragraph, and img*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Blue box for 'Social Media Marketing' header, paragraph, and img*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Defines size for search-engine-optimization img*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Defines size for online-reputation-management img*/
.online-reputation-management img {
    max-height: 200px;
}

/*Defines size for social-media-marketing img*/
.social-media-marketing img {
    max-height: 200px;
}

/*Defines space between <header> and <p> in .search-engine-optimization*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Defines space between <header> and <p> in .online-reputation-management*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Defines space between <header> and <p> in .social-media-marketing*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Defines and centers 'Made with ❤️️ by Horiseon' text*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Defines font for <p> under .footer*/
.footer h2 {
    font-size: 20px;
}
